html {
  color: azure;
  font-size: 62.5%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
* {
  padding: 0;
  margin: 0;
}
.game {
  background-color: rgb(48, 48, 48);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
h1 {
  font-size: 4.9rem;
  width: 70vw;
  padding: 1vw 1vh;
}
h2 {
  font-size: 2rem;
  margin-bottom: 1vh;
  font-weight: 300;
}
p {
  margin-bottom: 1vh;
}
button {
  height: 5vh;
  width: 5vh;
  border-radius: 50px;
  background-color: rgb(48, 48, 48);
  color: azure;
  font-size: 3rem;
}
.restart {
  font-size: 1.4rem;
  margin-top: 6vh;
  height: 5vh;
  width: 8vw;
}
.wrapper {
  background-color: rgb(55, 55, 55);
  height: 80vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7vh;
}
.container {
  border: 1px solid azure;
  height: 15vh;
  width: 25vw;
  text-align: center;
}
.roundsSelection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 2vh;
  font-size: 1.5rem;
}
.current-score {
  font-size: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3vh;
}
.resultText {
  font-size: 3rem;
  margin-bottom: 2vh;
}
.move {
  font-size: 2.5rem;
  margin-top: 4vh;
}
.movesLeft {
  margin-top: 1vh;
}
